.yishe-title{
    color:rgb(215, 239, 255);
    font-size:30px;
    font-family: LiSu;
}
.iconfont{
    font-size:18px;
    padding-right:30px;
}
.header-icon{
    color:rgb(215, 239, 255);
    float:right;
}
/* divider 横线
.ant-divider-horizontal.ant-divider-with-text::before, .ant-divider-horizontal.ant-divider-with-text::after{
    border-top:1px solid #004b9177 !important;
} */
/* 二级页面 */
.middle{
    padding:30px;
    background:#fff;
}