.daohang{
    background:black;
    opacity:0.4;
    color:white;
    font-size:18px;
    padding-top:10px;
    margin-left:10px;
    padding-left:10px;
    margin-right:10px;
    padding-bottom:5px;
    position: relative;
    height:40px;
  }
  .daohang span{
    float:left;
  }
  #shi{
    font-weight: 600;
    margin-right:10px;
  }
  .body{
    background:url('../images/雨.jpg') repeat-y;
    width:100%;
  }
  #mote{
    width:40%;
    float:left;
    margin-left:10px;
    margin-top:20px;
  }
  #mote_2{
    width:40%;
    float:left;
    margin-left:10px;
    margin-top:20px;
    display: none;
  }
  #mote_3{
    width:100%;
    /* display: none; */
    /* left:-120px; */
  }
  #mote_bai{
    display:none;
    width:100%;
  }
  .icon {
    display: block;
    top:155px;
    left:11px;
    width:40%;
    position:absolute;
    overflow: hidden;
  }
  .icon > .icon2 {
      position: relative;
      top:-0px;
      left:-150px;
      filter: drop-shadow(150px 0 blue);
  }
  #mote5{
    top:155px;
    left:11px;
    width:40%;
    position:absolute;
    display:none;
  }
  #mote2{
    top:155px;
    left:11px;
    width:40%;
    position:absolute;
    display:none;
  }
  #mote3{
    top:155px;
    left:11px;
    width:40%;
    position:absolute;
    display:none;
  }
  #mote4{
    top:155px;
    left:11px;
    width:40%;
    position:absolute;
    display:none;
  }
  #chouti{
    margin-left:200px;
    margin-top:30px;
  }
  #yiwu ul{
    list-style:none;
    padding-left:0px;
  }
  #yiwu li{
    width:100px;
    height:85px;
  }
  #yiwu{
    float:right;
    height:400px;
    margin-right:10px;
    margin-top:17px;
    position: relative;
    top:10px;
  }
  .yifu li{
    border:1px solid black;
  }
  .yifu{
    margin:0px;
  }
  #fenxiang{
    position: fixed;
    width:100%;
    background: white;
    z-index: 10000;
    bottom:50px;
    display:none;
  }
  #xiaoren{
    position: relative;
    top:20px;
    right:-10px;
    width:30%;
    z-index: 1;
  }
  #zhenglitab{
    z-index: 2;
  }
  .about p{
    text-align: center;
    font-size:20px;
  }
