.form {
    width:100%;
    position: fixed;
    bottom:0;
    
  }
  
  .input {
    border: none;
    border-radius: 0;
    border-top:solid 2px rgba(129, 129, 129, 0.3);
    padding: 4%;
    width: 80%;
    font-size: 1.2em;
  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  
  .sendButton {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #fc9d9a;
    padding: 20px;
    display: inline-block;
    border: none;
    width: 20%;
  }