body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* li{
  list-style: none;
} */
#store{
  position: relative;
  /* border:1px solid red; */
}
#fiveBut li{
  list-style: none;
}
 #fiveBut{
  width: 75%;
  height: 48%;
  position: absolute;
  margin: 60% 13%;
  top:7%;
  /* left: 20%; */
  /* border:1px solid red */
}
.am-tabs-pane-wrap{
  overflow-y:hidden;
}
#oneBut{
  height: 25%;
}
#twoBut{
  height:26%;
}
#oneBut button{
  /* border:1px solid blue; */
  border:none;
  width:50%;
  height:100%;
  background: rgba(255, 255, 255, 0.3);
  color:white;
}
#twoBut button{
  border:none;
  /* border:1px solid blue; */
  height:100%;
  width:100%;
  background: rgba(255, 255, 255, 0.3);
  color:white;
}
#list li{
  /* display: inline-block; */
  float: left;
  width:80px;
  height:30px;
}
#kind{
  position: relative;
  left: -50%;
  top:20%;
}