*{
    padding:0;
    margin:0;
}
ul li{
    list-style:none;
}
body{
    background-color:#fff !important;
}
.office{
    padding:5px 10px;
    border-bottom:4px dotted #ddd;
}
.msg{
    width:100%;
    padding:4px 0;
    display:flex;
    justify-content:space-between;
}
.message{
    width:100%;
    padding:5px 0;
    color:#222;
    display:flex;
    justify-content:space-around;
}
.message>img{
    width:60px;
    height:60px;
    border:1px solid #ddd;
}
.message>div{
    width:78%;
    padding-left:2%;
}
.message>div>p{
    width:100%;
    line-height:20px;
    margin:0;
    color:#888;
    font-size:13px;
}
.message>div>.title{
    font-size:15px;
    font-weight:bold;
    color:#444;
}
.article,.secReview{
    margin-top:10px;
    padding:0 12px;
    border-bottom:4px solid #eee;
}
.article>.artUser{
    width:100%;
    height:45px;
}
.article>.artUser>.userImg{
    width:45px;
    height:45px;
    border-radius:10px;
    float: left;
}
.article>.artUser>.userName{
    padding:0 10px;
    height:auto;
    line-height:45px;
    font-size:18px;
    float: left;
}
.article>.artDetail{
    line-height:18px;
}
.article>.artState{
    width:100%;
    margin:10px 0 0 0;
    padding:10px;
    border-top:1px solid #ddd;
    display:flex;
    justify-content:space-between;
}
.article>.artState li{
    width:25%;
    text-align:center;
}
.article>.artState li img{
    width:27px;
    margin:0 2px;
    float: left;
}
.article>.artState li span{
    line-height:28px;
    float: left;
}
.secReview>.left{
    width:20%;
    float: left;
}
.secReview>.right{
    width:80%;
    float: left;
}
.secReview>.left>.userImg{
    width:45px;
    height:45px;
    border-radius:23px;
    float: left;
}
.secReview>.right>.userName{
    height:auto;
    line-height:40px;
    font-size:18px;
}
.secReview>.revState{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-top:1px solid #ddd;
    padding:5px;
}
.secReview>.revState div{
    width:20%;
}
.secReview>.revState div img{
    width:27px;
    margin:0 2px;
    float: left;
}
.secReview>.revState div span{
    line-height:28px;
    float: left;
}

/*评论区部分*/
textarea.ant-input{
    width:75%;
    min-height: 30px !important;
    height: 30px !important;
    padding: 2px 4px;
}
.ant-form-item-control{
    line-height: normal !important;
}
.ant-btn{
    height: 30px !important;
    padding:0 10px !important;
    margin:0 5px !important;
}
.am-grid.am-grid-square .am-grid-item .am-grid-item-content{
    top:0 !important;
}
.ant-comment-content-author-name{
    color:#222 !important;
}
.ant-comment-content-author-time{
    color:#666 !important;
}
.ant-comment-inner{
    padding-bottom: 0 !important;
}
.ant-comment-actions{
    margin:0 !important;
}
.ant-comment-actions>li{
    width:100%;
    padding:4px 0;
    border-bottom:1px solid #ddd;
}
.ant-list-split{
    padding-bottom:15px !important;
}
.ant-list-header, .ant-list-footer{
    padding:0 !important;
}
