#store{
  position: relative;
  /* border:1px solid red; */
}
#fiveBut li{
  list-style: none;
}
 #fiveBut{
  width:80%;
  height:35%;
 position: absolute;
 top:34.5%;
 left: 9%;
  
  /* border:1px solid red */
}
.am-tabs-pane-wrap{
  overflow-y:hidden;
}
#oneBut{
  height: 24.5%;
  /* border:1px solid blue; */
}
#twoBut{
  height:26%;
  /* border:1px solid blue; */
}
#oneBut button{
  /* border:1px solid red; */
  font-size: large;
  border:none;
  width:50%;
  height:100%;
  background: rgba(255, 255, 255, 0.3);
  color:#a3a1a1;
}

#twoBut button{
  font-size: large;
  border:none;
  /* border:1px solid blue; */
  height:100%;
  width:100%;
  background: rgba(255, 255, 255, 0.3);
  color:#a3a1a1;
}
#list li{
  /* display: inline-block; */
  float: left;
  width:80px;
  height:30px;
}
#kind{
  position: relative;
  left: -50%;
  top:20%;
}