.ant-tooltip-inner {
    background-color: #fa9e9a !important;
    color:withe !important;
}

.am-grid.am-grid-square .am-grid-item .am-grid-item-content{
    position: absolute;
    padding:0 !important;
    top: 0 !important; 
    transform: translateY(0) !important;
}
.am-grid .am-flexbox {
    background: #c7e7c2 !important;
}