.table-module{
    width:100%;
    border-radius:5px;
    overflow: hidden;
}
.table-module tr,.table-module tr th,.table-module tr td{
    border:1px solid rgba(128, 141, 255, 0.3);
    text-align: center;
    padding:5px;
}
.table-module tr:first-child{
    background: rgba(0, 15, 56, 0.4) !important;
}
.table-module tr:nth-child(odd){
    background: rgba(128, 141, 255, 0.3);
}
.table-module tr:nth-child(even){
    background: rgba(255, 255, 255, 0.3);
}
.btn{
    border:none;
    padding:2px 5px;
    background-color:rgba(255,255,255,0);
}
.btn:hover{
    background-color:rgba(255, 255, 255, 0.6);
}
.btn_1{
    color:rgb(0, 161, 40);
}
.btn_2{
    color:rgb(0, 132, 255);
}
.btn_3{
    color:rgb(255, 60, 0);
}

/* 多余行省略 */
div.ant-typography, .ant-typography p{
    margin:0 !important;
}
/* 删除按钮的确定键 */
.ant-btn-danger{
    padding:0 !important;
}