/* .outerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1A1A1D;
  } */
  
  .container {
    position:relative;
    width:100%;
    height:100%;
    background:rgb(236, 236, 236);
    background-size:100%;
    background-repeat:no-repeat;
  }
  
  /* @media (min-width: 320px) and (max-width: 480px) {
    .outerContainer {
      height: 100%;
    }
  
    .container {
      width: 100%;
      height: 100%;
    }
  }
  
  @media (min-width: 480px) and (max-width: 1200px) {
    .container {
      width: 60%;
    }
  } */