.am-image-picker-list .am-image-picker-item {
    FONT-WEIGHT: 0 !important;
    position: absolute;
    top: 0 !important; 
    transform: translateY(0%) !important;
    width: 300% !important;
    height: 40% !important;
}