body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* li{
  list-style: none;
} */

#fiveBut li{
  list-style: none;
}
#fiveBut{
  position: fixed;
  top:48.6%;
  left: 20%;

}
#oneBut button{
  width:120px;
  height:40px;
  background: rgba(255, 255, 255, 0.3);
  border:none;
  color:white;
}
#twoBut button{
  height:40px;
  width:240px;
  margin-top:18px;
  background: rgba(255, 255, 255, 0.3);
  border:none;
  color:white;
}
#list li{
  display: inline-block;
  float: left;
  width:80px;
  height:30px;
}
#kind{
  position: relative;
  left: -50%;
  top:20%;
}